// ---------------------
//     BASE
// ---------------------

    // *--------- LAYOUT ---------*

    // *--------- COLORS ---------*
    $base__color: #6A6A6A;
    $base__color--lighter: #BCBCBC;
    $second__color: #6D6D6D;
    $third__color: #6EAAAE;
    $fourth__color: #DFDFDF;