// -------------------------------
//     NAV VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     NAV STYLES
// ----------------------------

.nav-link {
    font-weight: $font-weight--semi-bold;
    font-size: $font-size--large;
    color: $second__color;
}